@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  max-width: 800px;
  margin: 8px auto 0;
}

.lyrics {
  white-space: pre-wrap;
  font-family: 'Roboto Mono', monospace;
  margin: 0 auto;
  text-align: center;
}

.embed-container {
  width: 100%;
  margin: 0 16px;
}

.lyrics-side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Roboto Mono', monospace;
}