[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
pydantic-settings = "*"
authomatic = "*"
beautifulsoup4 = "*"
uvicorn = "*"
pydantic = "*"
functions-framework = "*"
firebase-admin = "*"
spotipy = "*"
async-timeout = "*"
starlette = "*"
levenshtein = "*"
google-api-python-client = "*"
thefuzz = "*"
transformers = "*"
scipy = "*"
librosa = "*"
numpy = "*"
pytube = "*"
torch = "*"
torchaudio = "*"
pydub = "*"
whisper-timestamped = "~=1.14"
structlog = "*"
tqdm = "*"

[dev-packages]
typer = {extras = ["all"], version = "*"}
matplotlib = "*"
jupyter = "*"

[requires]
python_version = "3.10"
