[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
pydantic-settings = "*"
authomatic = "*"
beautifulsoup4 = "*"
uvicorn = "*"
pydantic = "*"
functions-framework = "*"
firebase-admin = "*"
spotipy = "*"
async-timeout = "*"
starlette = "*"
typer = {extras = ["all"], version = "*"}
levenshtein = "*"
google-api-python-client = "*"

[dev-packages]

[requires]
python_version = "3.11"
